:root {
  /* LIGHT MODE */
  --dropdownBg: #ffffff;
  --hoverBg: #f5f5f5;
}

html[data-theme="dark"] {
  /* DARK MODE */
  --dropdownBg: #1c1c1c;
  /* match your card background tone */
  --hoverBg: #333333;
}

.wrapper {
  position: relative;
}

.trigger {
  background: var(--cardBg);
  /* border: 1px solid var(--border); */
  padding: 2px 10px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 13px;

  display: flex;
  align-items: center;
  gap: 6px;
}

.menu {
  position: absolute;
  top: 110%;
  right: 0;
  background: var(--cardBg);
  border: 1px solid var(--border);
  border-radius: 4px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 10;
  width: 100px;
  background: var(--dropdownBg)
}

button.menuItem {
  background: none;
  border: none;
  padding: 4px 8px;
  text-align: left;
  cursor: pointer;
  font-size: 13px;
}

button.menuItem:hover {
  background: var(--hoverBg);
}

.icon {
  transition: transform 0.2s ease;
}

.rotate {
  transform: rotate(180deg);
}

.menuItem {
  display: flex;
  align-items: center;
  gap: 8px;
  background: none;
  border: none;
  padding: 4px 10px;
  text-align: left;
  cursor: pointer;
  font-size: 13px;
  width: 100%;
}

.menuItem:hover {
  background: var(--hoverBg);
}