*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 100%;
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button, input, select, textarea {
  font: inherit;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
  /* list-style: none; */
}

button {
  background: none;
  border: none;
  padding: 0;
}